<app-my-control [(ngModel)]="userInfo" (ngModelChange)="log($event)"></app-my-control>
{{ userInfo | json }}


<p>
  Focus this window and press a keyboard button
</p>

<p>
  Pressed button: <strong>{{pressedKey$ | async}}</strong>
</p>



<div>
  this is <app-theme-description></app-theme-description>
</div>

<div darkTheme>
  this is <app-theme-description></app-theme-description>
</div>


<div>flower : {{flower.emoji}}</div>
<div>animal : {{animal.emoji}}</div>

<app-child>
  <app-inspector></app-inspector>
</app-child>


<div *toggle="let controller; on: false">
  <button (click)="controller.setOn()">Blue pill</button>
  <button (click)="controller.setOff()">Red pill</button>

  <div>
    <span *ngIf="controller.on">it's all a dream,go back to sleep </span>
    <span *ngIf="!controller.on">show off</span>
  </div>
</div>

<app-mouse-tracker></app-mouse-tracker>


<app-person [person]="person"></app-person>

<div>
  <button (click)="changeFirstName()">change person firstName</button>
</div>


<!-- pure vs impure -->

<label>firstName:</label><input #a>
<label>lastName:</label><input #b>
<label>show:</label><input #c>
<button (click)="append(a.value, b.value, c.value)">Append</button>
<div>
  <p>Impure:</p>
  <ng-container>
    <p *ngFor="let item of (objs | impurefilter)">{{ item | json }}</p>
  </ng-container>
  <p>Pure:</p>
  <ng-container>
    <p *ngFor="let item of (objs | purefilter)">{{ item | json }}</p>
  </ng-container>
</div>


<div>
  <button (click)="changeRef()">Change objs Reference</button>
</div>